.feedbackContainer {
  max-width: 100%;
  height: 100vh;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  position: relative;
  overflow: hidden;
}

.feedbackTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.feedbackForm {
  position: relative;
  width: 30%;
  border: #d0ab6d solid 1px;
  height: calc(100% - 60px);
}

.feedbackInput {
  position: absolute;
}

.profileImage {
  z-index: 2;
  border: #d0ab6d solid 3px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3);
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.dot {
  z-index: 2;
  transition: transform 0.5s ease-in-out;
}

.dot:hover {
  transform: scale(1.5);
}

.yellowDot {
  background-color: #d0ab6d;
}

.greenDot {
  background-color: #22c55e;
}

.rating {
  transition: all 0.4s ease-in-out;
}

.profileImage:hover .rating {
  transform: translate(-50%, -10px) scale(1.1);
}