.feedbackContainer {
  max-width: 100%;
  height: 100vh;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.feedbackTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.feedbackForm {
  position: relative;
  width: 30%;
  border: #22c55e solid 1px;
  height: calc(100% - 60px); /* Adjusted to fit the container */
}

.feedbackInput {
  position: absolute;
}

.profileImage {
  z-index: 2;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.profileImage:hover {
  transform: scale(1.3);
}

.dot {
  z-index: 2;
  transition: transform 0.5s ease-in-out;
}

.dot:hover {
  transform: scale(1.5);
}

.purpleDot {
  background-color: #a855f7;
}

.greenDot {
  background-color: #22c55e;
}
