
.lgReactElement {
    column-count: 3;
    column-gap: 10px;
    max-width: 1200px; /* Add max-width here */
    margin: 0 auto; /* Center align the gallery */
}

.gallery__item {
    max-width: 100%;
    display: block;
    padding: 5px 0px;
    border-radius: 20px;
    transition: transform 0.2s;
}

.gallery__item:hover {
    filter: opacity(.9);
    transform: scale(1.01);
}
