.galleryOne {
    position: relative;
    display: block;
    padding: 380px 0 90px;
    background-color: #faf5ee;
    margin-top: -270px;
  }
  
  .galleryOneBg {
    position: absolute;
    top: 128px;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
    width: 1157px;
    opacity: 0.6;
  }
  
  .galleryOneContainerBox {
    position: relative;
    display: block;
    max-width: 1620px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .galleryOneContent {
    position: relative;
    display: block;
    margin-right: -5px;
    margin-left: -5px;
  }
  