.singleGalleryItem {
    position: relative;
    display: block;
    width: 20%;
    padding: 0 5px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  .galleryImgBox {
    position: relative;
    display: block;
    overflow: hidden;
    /* border-radius: var(--thm-border-radius); */
    border-radius: 8px;
  }
  
  .galleryImgBox:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    /* background: rgba(var(--thm-primary-rgb), 0.9);
    border-radius: var(--thm-border-radius); */
    background: rgba(232, 96, 76, 0.9);
    border-radius: 8px;
    transition: all 700ms ease;
    transform: translateY(-105%);
    z-index: 1;
  }
  
  .singleGalleryItem:hover .galleryImgBox:before {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .galleryImgBox img {
    width: 100%;
    /* border-radius: var(--thm-border-radius); */
    border-radius: 8px;
    transform: scale(1);
    transition: opacity 500ms ease, transform 500ms ease;
  }
  
  .singleGalleryItem:hover .galleryImgBox img {
    transform: scale(1.05);
  }
  
  .galleryIcon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    z-index: 2;
  }
  
  .singleGalleryItem:hover .galleryIcon {
    transform: translateY(0);
    opacity: 1;
    transition: all 500ms ease 500ms;
  }
  
  .galleryIcon a {
    color: #ffffff;
    font-size: 35px;
    transition: all 500ms ease;
  }
  
  .galleryIcon a:hover {
    /* color: var(--thm-black); */
    color: #313041;
  }
  