/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-content {
  @apply border-[1px] border-gray-500 rounded-[10px] w-full flex flex-col px-2 py-4 min-h-[15em] transition-all duration-500 hover:bg-[#222c3d65] hover:border-[#2f3a4e3b];
}


/*=============== VARIABLES CSS ===============*/


/* styles/globals.css */
@font-face {
  font-family: 'Reey-regular';
  src: url('/fonts/Reey-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-height: 2.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);


  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 200;
}

/* styles/globals.css */
@font-face {
  font-family: 'Reey-Regular';
  src: url('https://static1.squarespace.com/static/5c364fe0cc8feda148eb5ce4/t/61686a3101db57695436dde4/1634232882067/Reey-Regular.otf') format('opentype'),
       url('https://static1.squarespace.com/static/5c364fe0cc8feda148eb5ce4/t/6168707da89e9254156cb854/1634234493849/Reey-Regular.woff') format('woff'),
       url('https://static1.squarespace.com/static/5c364fe0cc8feda148eb5ce4/t/61687086bbcf2c04c957eb55/1634234502377/Reey-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  
/* styles/globals.css */
.reey-text {
  font-family: 'Reey-Regular';
  /* font-weight: 900; */
  letter-spacing: 5px;
  background: linear-gradient(90deg, #e8604c, #fd9f07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 2px 4px rgba(22, 22, 22, 0.398);
}

/* text infinity effect*/
.underline-element {
	display: inline-block;
	/* padding-bottom: 5px; */
}
.underline-element:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
  width: 100%;
  margin-top: 5px;
	animation: underline 3s infinite;
}
@keyframes underline {
  0% { width: 0%; background-color: #ffffff;}
  100% {width: 100%; background-color: transparent;}
}



/*========== Responsive typography ==========*/
@media screen and (min-width: 1050px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: var(--body-font);
  font-size: var(--normal-font-size); */
  background-color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  margin-inline: 1.5rem;
}

@media screen and (min-width: 1050px) {
  .container {
    margin-inline: auto;
  }
}


/* work section */
.work-container {
  height: 245px;
  width: 245px;
  border-radius: 100%;
  box-shadow: 0px 0px 22px rgba(18, 104, 217, 0.08);
  background-color: white !important;
  text-align: center;
}

.child-circle {
  height: 210px;
  width: 210px;
  border-radius: 100%;
  border: 6px solid #d9d8df;
}

.mini-circle {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background-color: green;
  color: white !important;
  position: absolute;
  top: 35px;
  right: 20px;
}
