.video-one {
    position: relative;
    display: block;
    padding: 135px 0 108px;
  }
  
  
  .video-one__left {
    position: relative;
    display: block;
  }

  /* .bg{
    background-color: #ebebee1e;
  } */
  
  .video-one__video-link {
    position: relative;
    display: block;
    margin-left: 15px;
  }
  
  .video-one__video-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 20px;
    color: var(--thm-base);
    background-color: var(--thm-primary);
    border-radius: var(--thm-border-radius);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  
  .video-one__video-icon:before {
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    content: "";
    border: 1px solid #73737d;
    border-radius: var(--thm-border-radius);
  }
  
  .video-one__video-link .ripple,
  .video-one__video-icon .ripple:before,
  .video-one__video-icon .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0 rgba(var(--thm-primary-rgb), 0.6);
    -o-box-shadow: 0 0 0 0 rgba(var(--thm-primary-rgb), 0.6);
    box-shadow: 0 0 0 0 rgba(var(--thm-primary-rgb), 0.6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
    border-radius: var(--thm-border-radius);
  }
  
  .video-one__video-icon .ripple:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
  }
  
  .video-one__video-icon .ripple:after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
  }
  
  .video-one__tagline {
    font-size: 30px;
    color: var(--thm-primary);
    font-family: var(--thm-reey-font);
    margin: 0;
    padding-top: 67px;
    padding-bottom: 33px;
  }
  
  .video-one__title {
    font-size: 50px;
    color: var(--thm-base);
    font-weight: 700;
    line-height: 60px;
    letter-spacing: var(--thm-letter-spacing);
  }
  
  .video-one__right {
    position: relative;
    display: block;
    margin-left: 164px;
    margin-top: -15px;
  }
  
  .video-one__four-icon-boxes {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .video-one__four-icon-boxes li {
    position: relative;
    max-width: 200px;
    width: 100%;
    text-align: center;
    border: 1px solid #75757f;
    padding-top: 38px;
    padding-bottom: 35px;
    border-radius: var(--thm-border-radius);
    margin-left: 6px;
    margin-bottom: 6px;
    float: left;
  }
  
  .video-one__four-icon-boxes li:nth-child(1) {
    margin-left: 0;
  }
  
  .video-one__four-icon-boxes li:nth-child(3) {
    margin-left: 0;
    margin-bottom: 0;
  }
  
  .video-one__four-icon-boxes li:nth-child(4) {
    margin-bottom: 0;
  }
  
.icon-hover:hover span {
  transform: rotateY(180deg);
}

  