.grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 10px;
}

.marqText {
  display: flex;
  align-items: right;
  justify-content: right;
 
}
marquee {
  position: relative;
  background: rgba(247, 245, 245, 0.185);
  width: 350px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #313041;
  letter-spacing: 3px;
  box-shadow: 0 1px 4px rgba(197, 195, 195, 0.667);
  border-radius: 5px;
  transform: rotateX(55deg) rotateZ(60deg);
}


.olcards {
    list-style: none;
    counter-reset: cardCount;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  
  .olcards li {
    counter-increment: cardCount;
    display: flex;
    color: white;
    margin-top: 1rem;
    position: relative;
  }
  
  .olcards li::before {
    content: counter(cardCount, decimal-leading-zero);
    background: white;
    color: var(--cardColor);
    font-size: 2em;
    font-weight: 700;
    transform: translateY(-1rem);
    margin-right: -1rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
  }
  
  .olcards .content {
    background-color: var(--cardColor);
    display: grid;
    padding: 0.5em 2.5em 0.5em 1em;
    grid-template-areas:
      "icon title"
      "icon text";
    gap: 0.25em 1em;
    clip-path: polygon(
      0 0,
      calc(100% - 1.5rem) 0,
      100% 50%,
      calc(100% - 1.5rem) 100%,
      calc(100% - 1.5rem) calc(100% + 1rem),
      0 calc(100% + 1rem)
    );
    position: relative;
  }
  
  .olcards .content::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: var(--cardColor);
    left: 0;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    filter: brightness(0.75);
  }
  
  .olcards .content::after {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
    left: 0;
    top: 100%;
  }
  
  .olcards .icon {
    grid-area: icon;
    align-self: center;
    font-size: 1.5em;
    padding-left: 5px;
  }
  
  .olcards .title {
    grid-area: title;
    font-size: 1.25em;
  }
  
  .olcards .text {
    grid-area: text;
  }

  
  .about-one__call-number {
    margin-left: 20px;
  }
  .discountText {
    position: absolute;
    top: 15%;  
    left: 40%; 
    transform: translate(-50%, -50%); 
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 2.5em;
  }
  

  .booking {
    position: absolute;
    top: 40%;
    left: -5%;
    --r: 20px; /* control the radius */
    --h: 30px; /* control the height of the tail */
    --p: 20%;  /* control the position of the tail */
  
    padding: 8px 20px;
    border-bottom: var(--h) solid #0000;
    --m:
      /* adjust the angles of the 1st conic-gradient to control the shape */
      conic-gradient(from 30deg at var(--p) 100%,#0000,#000 1deg 30deg,#0000 31deg)
       0 100%/100% calc(100% - var(--r)) no-repeat,
      conic-gradient(at calc(var(--r)/2) calc(var(--r)/2),#000 270deg,#0000 0)
       0 0/calc(100% - var(--r)/2) calc(100% - var(--r)/2) padding-box,
      radial-gradient(50% 50%,#000 98%,#0000) 
       0 0/var(--r) var(--r) space padding-box;
    -webkit-mask: var(--m);
            mask: var(--m);
    
    
    max-width: 200px;
    font-size: 16px;
    background: linear-gradient(135deg,#FE6D00,#1384C5) border-box;
    color: #0c0941;
  }

  .booking span{
    color: #fff;
  }