
.body {
    overflow-x: hidden;
  }
  
  @media (min-width: 0) and (max-width: 767px) {
    .bodyText {
      font-size: 10px !important;
    }
    .downArrow {
      font-size: 20px !important;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .bodyText {
      font-size: 15px !important;
    }
    .downArrow {
      font-size: 30px !important;
    }
  }

  .bodyText .lineSeparator span {
    margin-top: -5rem;
  }

  .lineSeparator {
    display: block;
    width: 70%;
    height: 2px;
    text-align: center;
    margin: 20px auto;
    border-bottom: 1px solid grey;
  }
  
  .firstWrap {
    height: 600px;
    width: 100vw;
    background: #ffffff url("https://images.unsplash.com/photo-1445251836269-d158eaa028a6?fit=crop&fm=jpg&h=950&q=80&w=1920") no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
  }
 
  .secondWrap{
    height:55vw;
    width: 100vw;
    background-size: cover;
    background-position: 50% 50%;
  }

  
  .secondWrap {
    background: #ffffff url("https://images.unsplash.com/photo-1444090542259-0af8fa96557e?fit=crop&fm=jpg&h=950&q=80&w=1920") no-repeat fixed;
  }
  

  
  .firstDiv {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    padding-top: 35px;
  }
  
  .firstInnerDiv {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
  }
  
  .downArrow {
    font-size: 40px;
    color: #fff;
  }
  
  .firstInnerDiv p {
    padding: 20px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
 
  .secondDiv,
  .thirdDiv,
  .fourthDiv,
  .fifthDiv {
    display: table;
    height: 50vh;
    width: 100vw;
  }
  
  .secondDiv p,
  .fourthDiv p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
  }
  
  .fourthDiv {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .fourthDiv p {
    color: #fff;
  }
  

