.footer {
    background-image: url('/assets/images/backgrounds/footer3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100vh; */
    position: relative;
    overflow: hidden; /* Ensure content remains within the footer */
}

/* Create a transparent color overlay */
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(44, 43, 43, 0.579); 
    z-index: 1;
}

/* Content on top */
.footer-content {
    position: relative;
    z-index: 2; 
    color: #fff; 
    padding: 2rem;
}


  
.borderGradientApproach {
  --gradient: linear-gradient(90deg, #3f1eff, #f459ff, #fc6a93, #fff2a2);
  border-width: 3px;
  border-style: solid;
  border-image: var(--gradient) 1;
 
}
  